@import url("root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--body-main-color);
}

/* hapus ini */
h1 {
  align-items: center;
  font-size: 128px;
}
/* hapus sampai sini */

/* mas firly style start */
header {
  text-align: center;
  font-family: var(--main-font);
  font-size: 18px;
  height: 163px;
  background-color: #e0ebed;
  position: -webkit-sticky;
  position: sticky;
  top: -33px;
}

.nav {
  float: left;
}

.nav.logo {
  width: 20%;
}

.logo img {
  padding-top: 68px;
  padding-bottom: 33px;
  cursor: pointer;
}

.nav.menu {
  width: 60%;
  padding-top: 86px;
  padding-bottom: 50px;
  font-weight: 500;
  line-height: 140%;
  line-height: 25px;
}

.nav.menu a {
  margin-right: 62px;
  color: var(--accent-color);
}

.nav.menu a:hover {
  color: var(--main-color);
}

.nav.menu a.active {
  color: var(--main-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 16px;
  margin-right: 0px;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: var(--body-secondary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var;
  padding: 18px 0;
  z-index: 1;
  font-size: 14px;
  text-align: start;
  border-radius: 8px;
}

.dropdown-content a {
  color: var(--font-color);
  padding: 4px 16px;
  display: block;
}

.dropdown-content a:not(last-child) {
  margin-bottom: 8px;
}

.dropdown-content a.dr {
  margin-right: 0px;
}

.dropdown-content a:hover {
  background-color: var(--third-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn {
  width: 20%;
  padding-top: 86px;
  padding-bottom: 50px;
}

.btn a {
  color: var(--body-main-color);
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  justify-content: center;
  padding: 8px 16px;
  background-color: var(--main-color);
  border-radius: 1000px;
}

.btn a:hover {
  background-color: var(--secondary-color);
}

/* mas firly style end */

/* iffan style start */
.top-wrapper
{
  height: 745px;
  background: linear-gradient(180deg, rgba(145, 194, 201, 0.24) -49.72%, rgba(145, 194, 201, 0) 100%);
  padding-left: 97px;
  padding-right: 87px;
}
.top-container
{
  position: absolute;
  width: 584px;
  height: 559px;
  left: 97px;
  top: 196px;
  margin-right: 23px;
}
.top-container li
{
  font-family: var(--head-font);
  font-size: 100px;
  font-weight:700;
  line-height: 120%;
  
}
.top-container ul
{
  padding-top: 33px;
  margin-bottom: 12px;
}
#list1
{
  color: var(--main-color);
}
.title-container
{
  font-size:18px ;
  font-family: var(--main-font);
  font-weight: 400;
  margin-bottom: 24px;
}
.title-form
{
  font-family: var(--main-font) ;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  margin-bottom: 12px;
}

.form-container
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}
.txtform
{ 
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  opacity: 0.5;
  color: #B3B3B4;
  padding: 24px 18px;
  width: 300px;
  height: 70px;
  border: 1px solid #D4D4D5;
  border-radius: 4px 0px 0px 4px;
}
.tombol
{
  border: none;
  color: var(--body-main-color);
  background-color:var(--main-color) ;
  width: 150px;
  height: 70px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}
.tombol:hover
{
  background-color: var(--secondary-color);
}

.container-img
{
  width: 696px;
  height: 628px;
  
}
.gambar
{
  position: absolute;
  left: 550px;
  top: 30px;
}
/* iffan style end*/

/* Start Fikri Zaelani*/
section .wrapper-guru{
  max-width: 1400px;
  margin: auto;
}
.wrapper-guru {
  padding: 54px 0 64px 0;
  font-family: var(--main-font);
}
.heading-guru h1 {
  text-align: center;
  line-height: 140%;
  font-size: 44px;
  font-weight: 700;
  color: var(--main-color);
}
.heading-guru p {
  margin-top: 12px;
  text-align: center;
  line-height: 140%;
  font-size: 24px;
  font-weight: 500;
  color: var(--secondary-color);
}
.guru {
  float: left;
  margin: 64px 0 0 98px;
  width: 25%;
}
.guru-icon {
  display: inline-block;
  justify-items: center;
  float: right;
  position: relative;
}
.guru img {
  width: 370px;
  height: 476px;
}
.about {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  display: inline;
  width: 90%;
  left: 4.86%;
  right: 4.86%;
  top: 65.34%;
  bottom: 8.19%;
  background: rgba(255, 255, 255, 0.486);
  border: 1px solid var(--body-main-color);
  backdrop-filter: blur(8px);
  border-radius: 12px;
}
.about h3 {
  color: var(--font-color);
  font-style: var(--main-font);
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  flex: right;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}
.tentang {
  color: var(--font-color);
  font-size: 12px;
  line-height: 140%;
  margin-top: 4px;
}
.mentor {
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  margin-top: 12px;
}
.clear {
  clear: left;
}
.see {
  font-family: var(--main-font);
  text-align: center;
  padding: 32px 0;
}
.see a {
  color: var(--main-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  transition: all 0.3s ease;
}
.see a:hover {
  padding-left: 8px;
  color: var(--secondary-color);
}
/* Fikri Zaelani End*/

/* ibnu style start */
footer {
  background: var(--body-secondary-color);
  font-family: var(--main-font);
  padding-top: 64px;
  line-height: 140%;
  position: relative;
}

footer .container {
  max-width: 1400px;
  margin: auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
}

.company-col {
  width: 40%;
  padding: 0 24px;
}

.company-col p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--accent-color);
  width: 55%;
}

.footer-col {
  width: 15%;
  padding: 0 12px;
}

.footer-col h4 {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 24px;
}

.footer-col ul li a {
  font-size: 16px;
  color: var(--accent-color);
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-col ul li a:hover {
  padding-left: 4px;
  color: var(--main-color);
}

.copyright {
  width: 40%;
  padding: 0 12px;
  color: var(--accent-color);
  padding: 72px 0 18px 12px;
}

footer .copyright-list {
  width: 30%;
  padding: 72px 0 18px 8px;
}

.copyright-list a {
  text-decoration: none !important;
  color: var(--accent-color);
  transition: all 0.3s ease;
}

.copyright-list a:hover {
  padding-left: 4px;
  color: var(--main-color);
}
/* ibnu style end */
